/*#intro{
	background: url({{site.baseurl}}/images/background.jpg) no-repeat center center fixed;
}*/

.PostContainer{
	padding-right: 10% !important;
	padding-left: 10% !important;
	padding-bottom: 30px !important;
	padding-top: 5%
}

.PostImage{
	height: 200px;
	width: 300px;
}

.BlogPost{
	display: inline-block;
}

.ContactInfo{
	display: -webkit-inline-box;
}

.ContactInfo > * { 
	width: 25%;
	text-align: center;
}

.ContactInfo > * > *{ 
	text-align: center;
}

#about-me{
	overflow: auto;
}

#instafeed { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
#instafeed img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
  border-bottom: none;
}

#instafeed a {
  border-bottom: none;
}
